/**
 * Content Mobile Style Sheet
 * Mybabyspa
 *
 * Copyright (c) 2014. by Way2cu
 * Author: Khalid Sawalhi
 */

 body {
 	margin: 0px;
 	padding: 0px;
 }


 @-webkit-keyframes video_gallery {
 	0%   { background-position: left top; }
 	100% { background-position: -300px top; }
 }

 @keyframes video_gallery {
 	0%   { background-position: left top; }
 	100% { background-position: -300px top; }
 }

 @-webkit-keyframes video_gallery2 {
 	0%   { background-position: left bottom; }
 	100% { background-position: -300px bottom; }
 }

 @keyframes video_gallery2 {
 	0%   { background-position: left bottom; }
 	100% { background-position: -300px bottom; }
 }

 body {
 	margin: 0px;
 	padding: 0px;
 }

 div.inner_wrap {
 	display: block;
 	margin: 0px auto;
 	position: relative;
 }

 div.wrap.white {
 	background-color: white;
 }

 div.feature_container {
 	text-align: center;
 }

 h1.heading {
 	margin:0px;
 	padding: 20px 0px;
 	color: #1d4779;
 	text-align: center;
 }

 a.link {
   	display: block;
   	max-width: 200px;
   	margin: 20px auto;
   	padding: 15px 20px;
   	position: relative;
   	border: 1px solid #f7931d;
   	border-radius: 5px;
   	background-color: #f7931d;
   	text-align: right;
   	text-decoration: none;
   	color: white;
   	font-size: 1.6em;
   	transition: 0.5s all;
 }

 a.link:before {
   	content: '';
   	width: 50px;
   	height: 40px;
   	position: absolute;
   	top: 8px;
   	left: 10px;

   	background-image: url(../images/icon-gallery-white.svg);
   	background-repeat: no-repeat;
   	background-position: left center;
   	background-size: auto 100%;
 }

 a.link:hover {
 	background-color: #e94b89;
 	border-color: #e94b89;
 }

 h1:empty {
 	display: none;
 }

 div.feature_container div.feature {
  display: block;
  width: 85%;
  min-height: 155px;
  margin: 0px auto;
  margin-top: 35px;
  position: relative;
  background-color: #e94b89;
  color: white;
  padding: 15px;
 }

 div.feature_container div.feature:nth-child(2) {	
 	background-color: #f0c30e;
 }

 div.feature_container div.feature:nth-child(3) {
 	background-color: #9a58b5;
 }

 div.feature_container div.feature:after {
 	content: '';
 	position: absolute;
 	top: 100%;
 	left: 50%;
 	width: 0px;
 	height: 0px;

 	margin-left: -20px;

 	border: 20px solid transparent;
 	border-top: 20px solid #e94b89;
 }

 div.feature_container div.feature:nth-child(2):after {
 	border-top-color: #f0c30e;
 }

 div.feature_container div.feature:nth-child(3):after {
 	border-top-color: #9a58b5;
 }

 div.feature_container div.feature h1 {
 	margin-top: 0px;
 }

 div.feature_container div.feature p {
 	margin: 0px;
 }

 div.feature_container div.feature figure {
 	width: 70px;
 	height: 70px;
 	margin: 0px auto;
 	padding: 50px;
 	border-radius: 50%;
 	background-color: white;
 }

 div.feature_container div.feature figure img {
 	position: absolute;
 	left: 50%;
 	margin-left: -90px;
 	width: 180px;
 	top: 15px;
 }


 /**
  * Gallery
  */

 div.gallery {
 	display: block;
 	padding: 0px 0px 50px 0px;

 	text-align: center;
 }

 div.gallery a.image {
  display: inline-block;
  width: 22vw;
  height: 18vw;
  vertical-align: top;
  margin: 4px;
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
 }

 div.gallery a.image:before {
 	display: inline-block;
 	vertical-align: middle;
 	width: 0px;
 	height: 100%;
 	content: '';
 }

 div.gallery a.image img {
 	vertical-align: middle;
 	max-width: 100%;
 	max-height: 100%;
 }

 div.video_gallery {
 	width: 100%;
 	position: relative;
 	padding-bottom: 200px;
 	background-image:
       url(../images/top-wave.svg) ,
 	  linear-gradient(transparent, #b5e8ff 250px, #1ea4e7 100%);
 	background-repeat: no-repeat;
 	background-position: left top;
 	text-align: center;
 }

 div.video_gallery:before {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	height: 200px;
 	width: 100%;
 	content: '';

 	background-color: rgba(255, 255, 255, 0.4);
 	background-image: url(../images/top-wave.svg);
 	background-repeat: no-repeat;
 	background-position: left top;

 	animation: video_gallery 10s ease-in-out infinite alternate-reverse;
 	-webkit-animation: video_gallery 10s ease-in-out infinite alternate-reverse;
 }

 div.video_gallery:after {
 	position: absolute;
 	bottom: 0px;
 	left: 0px;
 	height: 300px;
 	width: 100%;
 	content: '';

 	background-image: url(../images/bottom-white-wave.svg);
 	background-repeat: no-repeat;
 	background-position: left bottom;

 	animation: video_gallery2 10s ease-in-out infinite alternate-reverse;
 	-webkit-animation: video_gallery2 10s ease-in-out infinite alternate-reverse;
 }

 div.video_gallery h1 {
 	padding-top: 220px;
 }

 div.video_gallery iframe.video {
 	display:block;
 	width: 100%;
 	height: 350px;
 }

 div.video_gallery a.link {
 	margin-top: 50px;
 	z-index: 1;
 }


 div.testimonials_container {
 	position: relative;
 	text-align: center;
 	padding: 30px 0px;
 	min-height: 220px;
 }

 div.testimonials_container div.testimonial {
 	display: block;
 	border: 1px solid #7e8b8c;
 	border-radius: 5px;
 	position: relative;
 	padding: 10px;
 	color: #7e8b8c;
 	text-align: center;
 	width: 264px;
 	position: absolute;
 	top: 0px;
 	right: 50%;
 	margin-right: -132px;
 	opacity: 0;
 }

 div.testimonials_container div.testimonial.visible {
 	opacity: 1;
 }

 div.testimonials_container div.testimonial:after {
	 content: '';
	 position: absolute;
	 width: 10px;
	 height: 10px;
	 border: 1px solid transparent;
	 border-bottom-color: #7e8b8c;
	 border-right-color: #7e8b8c;
	 background-color: white;
	 transform: rotateZ(45deg);
   -ms-transform: rotateZ(45deg);
   -webkit-transform: rotateZ(45deg);
	 bottom: -6px;
	 right: 20px;
}

 div.testimonials_container div.testimonial p{
 	margin: 0px;
 }
div.testimonials_container div.testimonial p em{
	position: absolute;
	top: 100%;
	width: 240px;
	left: 50%;
	margin-left: -145px;
 }

 div.testimonials_container nav#script {
  	display: block;
  	text-align: center;
  	padding-top: 225px;
  	padding-bottom: 15px;
  }

 div.testimonials_container nav#script a {
  	display: inline-block;
  	position: relative;
  	vertical-align: top;
  	width: 30px;
  	height: 30px;

  	margin-left: 5px;
  	margin-right: 5px;

  	border: 2px solid #7e8b8c;
  	border-radius: 50%;
  	background-color: transparent;
  	box-shadow: 0px 0px 0px 1px white;
  }

 div.testimonials_container nav#script a.active {
 	background-color: white;
  }

  div.testimonials_container nav#script a.active:after {
  	position: absolute;
  	top: 0px;
  	left: 50%;
  	margin-left: -15px;
  	content: '';
  	width: 28px;
  	height: 28px;
  	border: 1px solid white;
  	border-radius: 50%;
  	background-color: grey;
   }

div.wrap.bg_water {
  min-height: 300px;
  background-image: url(../images/gallery-contact-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 70px;
}

div.wrap.bg_water.contact-us article {
  margin: 0px 20px;
}

div.wrap.bg_water.contact-us article:nth-child(2) h1 {
  background-image: url(../images/baby-headphone.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 90% auto;
  padding-top: 20px;
  padding-bottom: 280px;
}


div.advantages_conteiner {
  text-align: center;
  background-color: #1d4779;
}

div.advantages_conteiner div.advantage {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  position: relative;
  max-width: 135px;
  padding-top: 140px;
  font-size: 1.3rem;
  text-align: center;
  color: white;
}

div.advantages_conteiner div.advantage:before {
    width: 130px;
    height: 100px;
    position: absolute;
    top: 0%;
    left: 50%;
    margin-left: -65px;
    content: '';
    background-image: url(../images/about-us-benefits-icons-mobile.svg);
    background-repeat: no-repeat;
    background-position: -10px 0px;
    background-size: auto 145px;
    padding-top: 180px;
}

div.advantages_conteiner div.advantage:nth-child(1):before {
  background-position: -533px 0px;
}

div.advantages_conteiner div.advantage:nth-child(2):before {
  background-position: -396px 0px
}

div.advantages_conteiner div.advantage:nth-child(3):before {
  background-position: -273px 0px;
}

div.advantages_conteiner div.advantage:nth-child(4):before {
  background-position: -143px 0px;
}

div.wrap.white.about article {
  min-height: 530px;
  margin: 50px 10px;
  padding-bottom: 400px;
  background-image: url(../images/baby.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
  line-height: 1.5;
  text-align: right;
}

div.wrap.white.about article p {
  font-size: 1.3rem;
}
