/**
 * Footer Style Sheet
 * MyBabySpa Site
 *
 * Copyright (c) 2014. by Way2cu
 * Author: Khalid Sawalhi
 */

 @-webkit-keyframes duck {
  	0% {bottom: 130px;}
  	50% {bottom: 150px;}
  	100% {bottom: 130px;}
  }

  @keyframes duck {
  	0% {bottom: 130px;}
  	50% {bottom: 150px;}
  	100% {bottom: 130px;}
  }

  @-webkit-keyframes moveAcross {
    0% {
      left: -500px;
    }
    100% {
      left: 100%;
    }
  }

  @keyframes moveAcross {
    0% {
      left: -500px;
    }
    100% {
      left: 100%;
    }
  }

  @-webkit-keyframes moveAcross-cloud-third {
    0% {
      right: -500px;
    }
    100% {
      right: 100%;
    }
  }

  @keyframes moveAcross-cloud-third {
    0% {
    	right: -500px;
    }
    100% {
    	right: 100%;
    }
  }
div.wrap.dark_blue {
	background-color: #33485d;
	min-height: 130px;
}

footer {
	background: linear-gradient(#1b75bc, #3498db, white);
	min-height: 1130px;
	position: relative;
	overflow: hidden;
}

figure {
	margin:0px;
}

figure.cloud {
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	position: absolute;
	animation: moveAcross 50s linear infinite;
	-webkit-animation: moveAcross 50s linear infinite;
	will-change:left;
}

figure.cloud.first {
	width: 428px;
	height: 212px;
	background-image: url(../images/cloud-1.svg);
	top: 200px;
	left: 50px;
	opacity: 0.8;
	animation-delay: -5s;
	animation-duration: 50s;
	-webkit-animation-delay: -5s;
	-webkit-animation-duration: 50s;
}

figure.cloud.second {
	width: 237px;
	height: 126px;
	background-image: url(../images/cloud-2.svg);
	top: 440px;
	left: 300px;
	opacity: 0.45;
	animation-delay: -2s;
	animation-duration: 80s;
	-webkit-animation-delay: -2s;
	-webkit-animation-duration: 80s;
}

figure.cloud.third {
	width: 405px;
	height: 192px;
	background-image: url(../images/cloud-3.svg);
	top: 550px;
	right: 150px;
	opacity: 0.8;
	-webkit-animation: moveAcross-cloud-third  50s linear infinite;
	animation: moveAcross-cloud-third  50s linear infinite ;
	animation-delay: -3s;
	animation-duration: 50s;
	-webkit-animation-delay: -3s;
	-webkit-animation-duration: 50s;
	will-change:right;
}

figure.logo {
	width: 400px;
	height: 189px;
	background-image: url(../images/logo.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	position: absolute;
	bottom: 400px;
	left: 50%;
	margin-left: -200px;
}

figure.island {
	width: 570px;
	height: 399px;
	background-image: url(../images/island.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	position: absolute;
	bottom: 130px;
	left: 10px;
}

figure.duck {
	width: 240px;
	height: 190px;
	background-image: url(../images/duck.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	position: absolute;
	bottom: 130px;
	right: 200px;

	animation: duck 6s linear infinite;
	-webkit-animation: duck 6s linear infinite;
}

a.footer_phone {
	width: 320px;
	padding-left: 70px;
	background-image: url(../images/icon-phone-white.svg);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: left center;
	position: absolute;
	bottom: 60px;
	left: 50%;
	margin-left: -195px;

	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 3.3rem;
	text-decoration: none;
}

figure.water {
	width: 100%;
	height: 279px;
	background-image: url(../images/ocean.svg);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center top;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

span.mybabyspa {
	display: block;
	margin: 0px auto;
	position: relative;
	top: 90px;
	text-align: center;
	background-color: rgba(225, 225, 225, 0.1);
	max-width: 500px;
	color: white;
	font-size: 2.2rem;
	padding: 10px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

span.mybabyspa span {
	display: block;
	margin: 0px auto;
	width: 90%;
	text-align: center;
	border-bottom: 3px solid white;
	font-size: 3.4rem;
	padding-bottom: 5px;
	margin-bottom: 5px;
}


/**
 * Optimize for smaller screens.
 */
@media (max-width: 1200px) {
	figure.logo {
		bottom: 500px;
	}

	figure.duck {
		right: 100px;
	}

	figure.island {
		left: 20px;
	}

	div.phone {
		bottom: 50px;
	}
}
