/**
 * Footer Mobile Style Sheet
 * Mybabyspa
 *
 * Copyright (c) 2014. by Way2cu
 * Author: Khalid Sawalhi
 */

footer div.wrap.form {
 min-height: 425px;
 }


  @-webkit-keyframes duck {
   	0% {bottom: 130px;}
   	50% {bottom: 150px;}
   	100% {bottom: 130px;}
   }

   @keyframes duck {
   	0% {bottom: 130px;}
   	50% {bottom: 150px;}
   	100% {bottom: 130px;}
   }

   @-webkit-keyframes moveAcross {
     0% {
       left: -500px;
     }
     100% {
       left: 100%;
     }
   }

   @keyframes moveAcross {
     0% {
       left: -500px;
     }
     100% {
       left: 100%;
     }
   }

   @-webkit-keyframes moveAcross-cloud-third {
     0% {
       right: -500px;
     }
     100% {
       right: 100%;
     }
   }

   @keyframes moveAcross-cloud-third {
     0% {
     	right: -500px;
     }
     100% {
     	right: 100%;
     }
   }
 div.wrap.dark_blue {
 	background-color: #33485d;
 	min-height: 130px;
 }

 footer {
 	background: linear-gradient(#1b75bc, #3498db, white);
 	min-height: 960px;
 	position: relative;
 	overflow: hidden;
 }

 figure {
 	margin:0px;
 }

 figure.cloud {
 	background-size: 100% auto;
 	background-repeat: no-repeat;
 	background-position: center top;
 	position: absolute;
 	animation: moveAcross 40s linear infinite;
 	-webkit-animation: moveAcross 40s linear infinite;
 	will-change:left;
 }

 figure.cloud.first {
 	width: 128px;
 	height: 80px;
 	background-image: url(../images/cloud-1.svg);
 	top: 450px;
 	left: 50px;
 	opacity: 0.8;
  animation-delay: -5s;
  animation-duration: 40s;
  -webkit-animation-delay: -5s;
  -webkit-animation-duration: 40s;

 }

 figure.cloud.second {
 	width: 100px;
 	height: 55px;
 	background-image: url(../images/cloud-2.svg);
 	top: 524px;
 	left: 300px;
 	opacity: 0.45;
  animation-delay: -2s;
  animation-duration: 60s;
  -webkit-animation-delay: -2s;
  -webkit-animation-duration: 60s;
 }

 figure.cloud.third {
 	width: 120px;
 	height: 70px;
 	background-image: url(../images/cloud-3.svg);
 	top: 606px;
 	right: 150px;
 	opacity: 0.8;
 	-webkit-animation: moveAcross-cloud-third 50s linear infinite;
 	animation: moveAcross-cloud-third 50s linear infinite;
  -webkit-animation-delay: -3s;
  -webkit-animation-duration: 40s;
 	will-change: right;
 }

 figure.logo {
 	width: 190px;
 	height: 90px;
 	background-image: url(../images/logo.svg);
 	background-size: 100% auto;
 	background-repeat: no-repeat;
 	background-position: center top;
 	position: absolute;
 	bottom: 290px;
 	left: 50%;
 	margin-left: -95px;
 }

 figure.island {
 	width: 190px;
 	height: 135px;
 	background-image: url(../images/island.svg);
 	background-size: 100% auto;
 	background-repeat: no-repeat;
 	background-position: center top;
 	position: absolute;
 	bottom: 140px;
 	left: 5px
 }

 figure.duck {
 	width: 90px;
 	height: 75px;
 	background-image: url(../images/duck.svg);
 	background-size: 100% auto;
 	background-repeat: no-repeat;
 	background-position: center top;
 	position: absolute;
 	bottom: 130px;
 	right: 0px;
 	animation: duck 6s linear infinite;
 	-webkit-animation: duck 6s linear infinite;
 }

 a.footer_phone {
 	width: 320px;
 	background-image: url(../images/icon-phone-white.svg);
 	background-size: auto 100%;
 	background-repeat: no-repeat;
 	background-position: left center;
 	position: absolute;
 	bottom: 60px;
 	left: 50%;
 	margin-left: -140px;
 	color: white;
 	text-decoration: none;
 	text-align: center;
 	font-size: 2.3rem;
 }

 figure.water {
 	width: 100%;
 	height: 250px;
 	background-image: url(../images/ocean.svg);
 	background-size: auto 100%;
 	background-repeat: no-repeat;
 	background-position: center top;
 	position: absolute;
 	bottom: 0px;
 	left: 0px;
 }

 span.mybabyspa {
 	display: block;
 	margin: 0px auto;
 	position: relative;
 	top: 30px;
 	text-align: center;
 	background-color: rgba(225, 225, 225, 0.1);
 	max-width: 260px;
 	color: white;
  font-size: 1.2rem;
 	padding: 10px;
 	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
 }

 span.mybabyspa span {
 	display: block;
 	margin: 0px auto;
 	width: 90%;
 	text-align: center;
 	border-bottom: 3px solid white;
 	padding-bottom: 5px;
 	margin-bottom: 5px;
 	font-size: 1.5rem;
 }