/**
 * Header Style Sheet
 * My Baby Spa
 *
 * Copyright (c) 2014. by Way2cu
 * Author: Khalid Sawalhi
 */

header {
 	position: relative;
}

nav#menu {
  display: inline-block;
  vertical-align: middle;
  max-width: 900px;
}

nav#menu a {
  display: inline-block;
  padding: 15px 20px 10px 20px;
  text-decoration: none;
  font-size: 1.5em;
  color: #7e8b8c;
  border: 4px solid white;
  border-radius: 5px;
  transition: 0.3s all;
  vertical-align: bottom;
  margin-top: 15px;
}

a.logo {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../images/logo.svg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 184px;
  height: 87px;
  margin-bottom: 20px;
  margin-top: 15px;
}

nav#menu a:hover,
nav#menu a:active,
nav#menu a.active {
  color: #f7931d;
  border-bottom: 4px solid #f7931d;
}

header div.wrap.white a.phone {
 	 min-height: 50px;
 	padding-left: 60px;
 	position: absolute;
 	top: 35px;
  left: 100px;
 	background-image: url(../images/icon-phone-black.svg);
 	background-repeat: no-repeat;
 	background-size: auto 47px;
 	background-position: left top;

 	text-decoration: none;
 	font-size: 2.7em;
  color: #2B67A3;
}

header div.call_to_action {
	position: absolute;
  width: 210px;
	top: 100px;
  left: calc(((100% - 1200px) / 2) + 100px);
  padding: 10px 20px;
  padding-left: 90px;

  border: 1px solid #bf382a;
  border-radius: 7px;
	background-image: url(../images/button.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: auto 101px;

	color: white;
	text-align: right;
	font-size: 2em;
}

header div.call_to_action:before {
  position: absolute;
  left: 5px;
  top: 5px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  content: '';

  border: 1px dashed white;
  border-radius: 5px;
  background-image: url(../images/icon-present-white.svg);
  background-position: 20px 8px;
  background-repeat: no-repeat;
}


header div.call_to_action:after {
	width: 133px;
	height: 87px;
	content: '';
	position: absolute;
	left: -120px;
	top: -65px;
	background-image: url(../images/arrow.svg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: auto 87px;
 }

div#slides {
    height: 650px;
    position: relative;
}

div#slides div.slide {
    width: 100%;
    height: 650px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 650px;

    transition: opacity 0.5s;
}

div#slides div.slide:nth-child(1) {
    background-image: url(../images/slides/slider-1.jpg);
}

div#slides div.slide:nth-child(2) {
  background-image: url(../images/slides/slider-2.jpg);
}

div#slides div.slide:nth-child(3) {
  background-image: url(../images/slides/slider-3.jpg);
}

div#slides div.slide:nth-child(4) {
  background-image: url(../images/slides/slider-4.jpg);
}

div#slides div.slide:nth-child(5) {
  background-image: url(../images/slides/slider-5.jpg);
}

div#slides div.slide.visible {
    opacity: 1;
}

div#slides div.slide:nth-child(1) div.slides_text p {
  font-size: 2.2rem;
  text-align: center;
}

header a.arrow {
  display: block;
  width: 60px;
  height: 103px;
  position: absolute;
  right: 30px;
  top: 425px;
  margin-top: -27px;
  background-image: url(../images/slides/gallery-arros.svg);
  background-position: -45px 0px;
  background-size: 103px 98px;
  background-repeat: no-repeat;
  transition: 0.3s all;
}

header a.arrow.next {
  right: auto;
  left: 30px;
  background-position: 0px 0px;
}

header div#controls {
  display: block;
  width: 300px;
  position: absolute;
  left: 50%;
  top: 150px;
  margin-left: -150px;
  text-align: center;
}

header div#controls a {
  display: inline-block;
  width: 18px;
  height: 18px;

  position: relative;

  margin-left: 3px;
  margin-right: 3px;

  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px white;

  transition: all 0.3s;
}

header div#controls a:before {
  position: absolute;
  width: 14px;
  height: 14px;
  content: '';

  top: 2px;
  left: 2px;

  border-radius: 50%;
  background-color: transparent;

  transition: all 0.3s;
}

header div#controls a.active:before {
  background-color: white;
}

header div.slide div.slides_text {
  padding: 5px 10px 15px 10px;

  position: absolute;
  top: 130px;
  right: 200px;

  background-color: rgba(255, 255, 255, 0.1);

  color: white;
  text-align: right;
  font-size: 1.9rem;
  text-shadow: 0px 0px 3px black;
}

header div.slide div.slides_text span {
  display: block;
  padding-bottom: 10px;
  text-align: right;
  font-size: 2.7rem;
}

header div.slide div.slides_text ul {
  margin: 0px;
}

header div.slide:nth-child(1) div.slides_text span {
  border-bottom: 3px solid white;
  font-size: 3rem;
}

div.wrap.form {
  width: 100%;
  height: 201px;
  background-color: #1d4779;
  background-color: rgba(29, 71, 121, 0.5);
  position: absolute;
  bottom: 0px;
}

div.wrap span.heading {
  display: block;
  margin: 0px auto;
  padding: 20px 0px;
  text-align: center;
  color: white;
  font-size: 1.3rem;
}

div.wrap form {
  text-align: center;
  margin: 0px auto;
}

div.wrap form label {
  display: inline-block;
}

div.wrap form label span {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 15px;
  color: white;
  font-size: 1.3rem;
}

div.wrap form label input {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  font-size: 1.4em;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  transition: 0.5s all;
  color: #1d4779;
}

div.wrap form label input:focus {
  border: 1px solid #f0c30e;
}

div.wrap form div.controls {
  display: inline-block;
  vertical-align: top;
  margin: 0px 15px 0px 0px;
}

div.wrap form div.controls button.submit {
  padding: 1px 30px;
  background-color: #f7931d;
  border: 1px solid #f7931d;
  border-radius: 5px;
  color: white;
  font-size: 1.9rem;
  transition: 0.5s all;
  cursor: pointer;
}

div.wrap form div.controls button.submit:hover {
  background-color: #f0c30e;
  border: 1px solid #f0c30e;
}

div.wrap.beach_girl {
  min-height: 909px;
  background-image: url(../images/about-us-background-header.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 100%;
}

div.wrap.beach_girl article {
  max-width: 600px;
  margin-right: 100px;
  padding: 15px;
  position: relative;
  top: 70px;
  border: 2px solid white;
  background-color: white;
  background-color: rgba(251, 251, 251, 0.8);
  color: #33485d;
  text-align: center;
  line-height: 1.5;
}

div.wrap.beach_girl article h1 {
  margin-top: 0px;
  text-align: right;
}

div.wrap.beach_girl article p {
  text-align: right;
  font-size: 1.3rem;
}

div.wrap.bg_water {
  min-height: 300px;
  background-image: url(../images/gallery-contact-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  padding-top: 100px;
}

header.contact-us div.wrap.bg_water {
  padding-top: 60px;
}

div.wrap.bg_water article {
  max-width: 500px;
  margin-right: 270px;
}

/**
 * Optimize for smaller screens.
 */
@media (max-width: 1200px) {
  div#slides div.slide:nth-child(1) div.slides_text {
    max-width: 615px;
  }

  div.wrap form label input {
    max-width: 200px;
  }

  a.logo {
    margin-right: 20px;
  }

  header div.call_to_action {
    top: 105px;
    left: 10px;
}

  header div.call_to_action:after {
    display: none;
  }

  header div.wrap.white a.phone {
    padding-top: 5px;
    padding-left: 55px;
    top: 50px;
    left: 5px;
    background-image: url(../images/icon-phone-black.svg);
    background-size: auto 42px;
    font-size: 2em;
  }

  div.wrap.beach_girl article {
    max-width: 570px;
    margin-right: 20px;
  }

  div.wrap.bg_water article {
    margin-right: 100px;
  }

  div.wrap.bg_water {
    padding-top: 80px;
  }
}
