/**
 * Header Mobile Style Sheet
 * Mybabyspa
 *
 * Copyright (c) 2014. by Way2cu
 * Author: Khalid Sawalhi
 */

 .mobile_title , body.rtl .mobile_title{
 	background-color: white;
 }

 .mobile_title a.menu {
 	position: absolute;
 	top: 50%;
 	height: 50px;
 	width: 50px;
 	margin-top: -25px;
 	background-image: url(../images/icon-menu-orange.svg);
 	background-repeat: no-repeat;
 	background-position: 100% center;
 	background-size: auto 30px;
 	transition: 0.3s all;
 }

 .mobile_title.menu_visible a.menu {
 	background-position: 20px center;
 }

 a.phone {
 	width: 40px;
 	height: 40px;
 	position: absolute;
 	left: 5px;
 	top: 13px;
 	background-image: url(../images/icon-phone.svg);
 	background-repeat: no-repeat;
 	background-position: center center;
 	background-size: 100% auto;
 }

 .mobile_title img {
 	display: block;
 	width: 100px;
 	margin-left: auto;
 	margin-right: auto;
 	padding-bottom: 5px;
 }

 .mobile_menu {
 	background-color: #DFEBF3;
 	box-shadow: 0px 0px 10px black;
 }

.mobile_menu {
 	display: block;
 	width: 100%;
 	right: 0px;
 	max-height: 0px;
 	overflow: hidden;
 	transition: all 0.5s;
 	background-color: white;
 }

.mobile_menu.visible {
 	max-height: 250px;
 	right: 0px;
 }

 .mobile_menu a {
 	text-align: center;
 	color: #2B67A3;

 	padding-bottom: 1em;
 	padding-top: 1em;
 }

 .mobile_menu a:active {
 	background-color: orange;
 	color: white;
 }

/*
** if hoem page
*/

div#slides {
	display: block;
	position: relative;
	background-image: url(../images/mobile-header-background.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: auto 100%;
	padding-top: 75px;
	min-height: 230px
}

div.slides_text {
	max-width: 270px;
	display: block;
	margin: 5px auto;
	padding: 5px;

	background-color: rgba(255, 255, 255, 0.1);

	color: white;
	text-align: center;
	text-shadow: 0px 0px 3px black;
	font-size: 1.4rem;
	box-shadow: 0px 0px 3px black;
	background-color: rgba(0, 0, 0, 0.3);
}

header div.slides_text span {
	display: block;
	padding-bottom: 10px;
	font-size: 1.7rem;
	border-bottom: 2px solid white;
	margin-bottom: 10px;
}

header div.call_to_action{
	max-width: 150px;
	padding: 10px 20px;
	padding-left: 90px;
	margin: 15px auto 0px auto;
	border: 1px solid #bf382a;
	border-radius: 7px;
	background-image: url(../images/button.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: auto 101px;
	color: white;
	text-align: right;
	position: relative;
	font-size: 1.4rem;
}

header div.call_to_action:before {
	position: absolute;
	left: 5px;
	top: 5px;
	width: calc(100% - 12px);
	height: calc(100% - 12px);
	content: '';
	border: 1px dashed white;
	border-radius: 5px;
	background-image: url(../images/icon-present-white.svg);
	background-position: 20px;
	background-repeat: no-repeat;
	background-size: auto 45px;
}


div.wrap.form {
  width: 100%;
  background-image: url(../images/mobile-background-form.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 640px;
  color: #33485d;
  min-height: 500px;
}

div.wrap span.heading {
	display: block;
	margin: 0px auto;
	padding: 20px 5px;
	text-align: center;
	color: #1d4779;
	font-size: 1.2rem;
}

div.wrap form {
  text-align: center;
  margin: 0px auto;
}

div.wrap form label {
  display: block;
}

div.wrap form label span {
  display: block;
  margin: 10px auto;
  font-size: 1.3rem;
}

div.wrap form label input {
  display: block;
  margin: 0px auto;
  margin-top: 10px;
  font-size: 1.4em;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  transition: 0.5s all;
  color: #1d4779;
}

div.wrap form label input:focus {
  border: 1px solid #f0c30e;
}

div.wrap form div.controls button.submit {
	padding: 3px 75px;
	background-color: #f7931d;
	border: 1px solid #f7931d;
	border-radius: 5px;
	color: white;
	font-size: 2rem;
	transition: 0.5s all;
	margin-top: 20px;
}

div.wrap form div.controls button.submit:hover {
  background-color: #f0c30e;
  border: 1px solid #f0c30e;
}


div.wrap.beach_girl {
	min-height: 1190px;
	background-image: url(../images/about-us-background-header.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: auto 100%;
	padding-top: 90px;
}

div.wrap.beach_girl article {
	display: block;
	margin: 0px 10px;
	padding: 10px;
	border: 2px solid white;
	background-color: white;
	background-color: rgba(251, 251, 251, 0.8);
	color: #33485d;
	text-align: center;
	line-height: 1.5;
}

div.wrap.beach_girl article h1 {
  margin-top: 0px;
  text-align: right;
}

div.wrap.beach_girl article p {
  text-align: right;
  font-size: 1.3rem;
}